services:
  proxy:
    container_name: proxy
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    environment:
      - CADDY_INGRESS_NETWORKS=${COMPOSE_PROJECT_NAME}_sandbox
    networks:
      - sandbox
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.local/caddy:/data/tls

  cache:
    container_name: cache
    image: redis:6
    restart: unless-stopped
    networks:
      - sandbox

  directus:
    container_name: directus
    image: directus/directus:10.11.1
    restart: unless-stopped
    volumes:
      - ./.local/uploads:/directus/uploads
      - ./.local/database:/directus/database
      - ./packages/super-header-interface:/directus/extensions/super-header-interface
    networks:
      - sandbox
    environment:
      PUBLIC_URL: 'https://extensions.directus.labs'
      EXTENSIONS_AUTO_RELOAD: true
      WEBSOCKETS_ENABLED: "true"
      MARKETPLACE_TRUST: "all"

      ADMIN_EMAIL: 'admin@directus.dev'
      ADMIN_PASSWORD: 'password'

      REDIS_HOST: cache

      DB_CLIENT: "sqlite3"
      DB_FILENAME: "/directus/database/data.db"

      # Video Player Interface
      CONTENT_SECURITY_POLICY_DIRECTIVES__FRAME_SRC: "https://www.youtube-nocookie.com,https://player.vimeo.com"
      CONTENT_SECURITY_POLICY_DIRECTIVES__SCRIPT_SRC: "array:'self', player.vimeo.com 'unsafe-eval', www.youtube.com 'unsafe-eval', www.youtube.com/iframe_api 'unsafe-eval'"
      CONTENT_SECURITY_POLICY_DIRECTIVES__IMG_SRC: "array:'self' data:, i.ytimg.com 'unsafe-eval'"
      CONTENT_SECURITY_POLICY_DIRECTIVES__MEDIA_SRC: "array:'self', cdn.plyr.io"

    depends_on:
      - cache
    labels:
      caddy: extensions.directus.labs
      caddy.tls: "/data/tls/cert.pem /data/tls/key.pem"
      caddy.reverse_proxy: "{{upstreams 8055}}"

networks:
  sandbox:
