name: Tiny enhancement
description: Suggest a small tweak or improvement
body:
  - type: markdown
    attributes:
      value: |
        Hi, thank you for taking the time to create an issue! Before you get started, please ensure the following are correct:

        - I'm using the [latest version of Directus](https://github.com/directus/directus/releases)
        - There's [no other issue](https://github.com/directus-labs/extensions/issues?q=is%3Aissue) that already describes the problem.

        _For requests specific to the core project, please submit requests at the [official GitHub organisation for Directus](https://github.com/directus)._
  - type: dropdown
    id: extension
    attributes:
      label: Extension
      description: Which extension does this issue relate to?
      options:
{{#extensions}}
        - {{name}}
{{/extensions}}
        - Something else
    validations:
      required: true
  - type: textarea
    attributes:
      label: Describe the Improvement
      description: A clear and concise description of what the enhancement is. Please include as much detail as you can.
    validations:
      required: true
