/* color variables */
:root {
	--collab-purple: #9e8de4;
	--collab-blue: #68b0f4;
	--collab-green: #00c897;
	--collab-yellow: #fbc54f;
	--collab-orange: #ee9746;
	--collab-red: #ea7d8f;
}

.collab-field-locked {
	pointer-events: none;
	opacity: 0.7;
	cursor: not-allowed;
}

.field[data-field^=collab_] {
	position: absolute !important;
}